body {
    /* font-family: Source Sans Pro,Helvetica,Arial,sans-serif; */
    font-size: 12px;
    color: #fdfdfd;
    background-color: #226DAD;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 60px;
    display: flex;
    overflow: visible;
}

.logo {
    /* background-color: #2573B7; */
    background-color: rgba(255, 255, 255, 0.04);
    width: 260px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    /* border-right: 1px solid #2067A4; */

}

.logo img {
    height: 40px;
    width: auto;
}

.logo h1 {
    margin: 0px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

.menu-user {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.igreja {
    font-size: 16px;
    display: flex;
    align-content: center;
    border-radius: 6px;
    padding: 6px 8px; 
    margin-left: 15px;
    cursor: pointer;
}

.igreja:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

.igreja h1 {
    font-size: 16px;
    margin: 0px;
    margin-left: 7px;
    font-weight: normal;
}

.user {
    display: flex;
    font-size: 14px;
    border-radius: 6px;
    padding: 6px 8px; 
    margin-right: 15px;
    cursor: pointer;
}

.user:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

.user p {
    margin: 0px 7px;
}

.body {
    display: flex;
    flex: 1;
}

.menu {
    width: 260px;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
}

.menu-itens {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.version {
    height: 25px;
    background-color: rgba(255, 255, 255, 0.04);;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
}

.version p {
    font-size: 11px;
    margin: 0px;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.window-title {
    background-color: #ECECEC;
    color: #555;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.title {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.title p {
    margin: 0px 2px;
}

.title i {
    margin: 0px 2px;
}

.icons {
    display: flex;
    align-content: center;
    /* font-size: 16px; */
}

.icons i {
    margin: 0px 7px;
    cursor: pointer;
}

.icons i:hover {
    color: #226DAD;
}

.janela {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 25px;
}

.div-buscar {
    display: flex;
}

#btn-add {
    display: flex;
    margin-left: 12px;
}

#btn-add p {
    margin: 0px;
    margin-left: 5px;
}

.tabela {
    margin-top: 25px;
}

.linha {
    cursor: pointer;
}

.formulario {
    display: flex;
    flex: 1;
    margin-top: 25px;
}

.formulario-indice {
    width: 250px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.font-dark {
    color: white;
}

.font-light {
    color: #222;
}